{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script src="{% static 'spreadsheets/upload.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
home
{% endblock title %}

{% block content %}
    <h5>Faça um upload de um arquivo .xsl</h5>
    <br>
    <form action ="" method="POST" enctype = "multipart/form-data">
        {% csrf_token %}
        <div class="fallback">
            <input name="file" type="file" accept=".xls, .xlsx" multiple />
        </div>
        <button type="submit" class="btn btn-info mt-2">Salvar</button>
    </form>
    <br>
    {% if  describe %}
        {{describe|safe}}
    {% endif %}

    {% endblock content %}
